@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primeira-cor: #e5e5e5;
  --segunda-cor: #0a3871;
  --terceira-cor: white;
  --quarta-cor: #d8dff8;

  --primeira-cor-dark: #222831;
  --segunda-cor-dark: #31363f;
  --terceira-cor-dark: #dde6ed;
  --quarta-cor-dark: #9db2bf;
  --quinta-cor-dark: #526d82;
}

* {
  margin: 0;
  padding: 0;

  ::-webkit-scrollbar {
    width: 0.375rem;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.375rem;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 0.375rem;
  }
}

body {
  height: 100vh;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--primeira-cor);
  overflow: hidden;
  transition: background 0.2s linear;
}

.checkbox {
  opacity: 0;
  position: absolute;
}
.label {
  background: #111;
  border-radius: 3.125rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.32rem;
  position: relative;
  height: 1.6rem;
  width: 3.125rem;
  transition: background 0.2s linear;
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0.4rem;
  left: 0.38rem;
  height: 1.38rem;
  width: 1.38rem;
  transform: translate(0px);
  transition: transform 0.2s linear;
}

.fa-moon {
  color: #f1c40f;
}
.fa-sun {
  color: #f39c12;
}

.checkbox:checked + .label .ball {
  transform: translate(1.69rem);
}

.cabecalho {
  margin: 1%;
  padding: 0.625rem;
  display: flex;
  justify-content: space-between;
}

.logoAlura {
  width: 5%;
  height: 5%;
}

.apresentacao {
  padding: 0 2.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
}

.conteiner_apresentacao {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40rem;
  width: 50%;
}

.conteiner_apresentacao_botoes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.informacao {
  display: flex;
  align-items: center;
}

.informacao img {
  width: 1rem;
  height: 1rem;
}

.text-area {
  border: none;
  color: var(--segunda-cor);
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 150%;
  font-size: 2rem;
  max-width: 42.5rem;
  min-height: 12.5rem;
  max-height: 27.5rem;
  height: 100%;
  background-color: var(--primeira-cor);
  resize: none;
  overflow: auto;
  transition: background 0.2s linear;
}

.text-area:focus {
  outline: none;
}

::placeholder {
  color: var(--segunda-cor);
}

.mensagem {
  border-radius: 1.5rem;
  color: var(--segunda-cor);
  background: var(--terceira-cor);
  height: 43.75rem;
  max-width: 62.5rem;
  padding: 2rem 2rem;
  transition: background 0.2s linear;
}

.aguardando {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: background 0.2s linear;
}
.imagem {
  width: 100%;
}
.msgVazia {
  width: 21rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  transition: background 0.2s linear;
}

.msgVazia p {
  font-family: 'Inter', sans-serif;
  font-size: 1.5rem;
  color: #343a40;
  font-weight: bolder;
  transition: background 0.2s linear;
}

#aguardando span {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: #495057;
  transition: background 0.2s linear;
}

#textoCriptografado {
  display: none;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
  transition: background 0.2s linear;
}
.textoSaida {
  height: 29.313rem;
  box-sizing: border-box;
  line-height: 150%;
  font-size: 2rem;
  width: 20rem;
  min-height: 12.5rem;
  max-height: 36rem;
  height: 100%;
  resize: none;
  overflow-y: auto;
}
#texto2 {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  color: #495057;
  font-weight: 400;
  line-height: 150%;
  font-size: 1.5rem;
  transition: background 0.2s linear;
}

#textoCriptografado button {
  background: var(--quarta-cor);
  color: var(--segunda-cor);
  border: 0.0625rem solid var(--segunda-cor);
  border-radius: 1.5rem;
  cursor: pointer;
  height: 4.19rem;
  width: 20.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 150%;
  font-size: 1rem;
  text-decoration: none;
  transition: background 0.2s linear;
}

.mensagem:focus {
  outline: none;
}

.botoes {
  display: flex;
  justify-content: left;
  gap: 2rem;
}

.container__botao__criptografar {
  background: var(--quarta-cor);
  color: var(--segunda-cor);
  border: 0.0625rem solid var(--segunda-cor);
  border-radius: 1.5rem;
  cursor: pointer;
  height: 4.19rem;
  width: 20.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 150%;
  font-size: 1rem;
  text-decoration: none;
  transition: background 0.2s linear;
}

.container__botao__descriptografar {
  background: var(--segunda-cor);
  color: var(--terceira-cor);
  border: 0.0625rem solid var(--segunda-cor);
  border-radius: 24px;
  cursor: pointer;
  height: 4.19rem;
  width: 20.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 150%;
  font-size: 1rem;
  text-decoration: none;
  transition: background 0.2s linear;
}

.container__botao__copiar {
  border: 0.0625rem solid var(--segunda-cor);
  border-radius: 1.5rem;
  color: var(--segunda-cor);
  transition: background 0.2s linear;
}

.informacao {
  display: flex;
  gap: 0.5rem;
}

.informacao h6 {
  color: #495057;
  font-family: 'Inter', sans-serif;
  line-height: 150%;
  font-size: 1rem;
  width: 252;
  height: 18;
}
/* ------- DARK MODE ------- */

body.dark {
  transition: background 0.2s linear;
  background: var(--primeira-cor-dark);
}

body.dark .label {
  transition: background 0.2s linear;
  background: var(--terceira-cor);
}

body.dark .label .ball {
  transition: background 0.2s linear;
  background: var(--primeira-cor-dark);
}

body.dark .text-area {
  transition: background 0.2s linear;
  background: var(--primeira-cor-dark);
  color: var(--terceira-cor-dark);
}
body.dark ::placeholder {
  transition: background 0.2s linear;
  color: var(--terceira-cor-dark);
}

body.dark .mensagem {
  transition: background 0.2s linear;
  background: var(--segunda-cor-dark);
}

body.dark #aguardando p {
  transition: background 0.2s linear;
  color: var(--terceira-cor-dark);
}

body.dark #aguardando span {
  transition: background 0.2s linear;
  color: var(--quarta-cor-dark);
}

body.dark .container__botao__descriptografar {
  transition: background 0.2s linear;
  background-color: var(--quinta-cor-dark);
  color: var(--terceira-cor-dark);
  border: 0.0625rem solid var(--segunda-cor-dark);
}

body.dark .container__botao__criptografar {
  transition: background 0.2s linear;
  background-color: var(--quarta-cor-dark);
  color: var(--segunda-cor-dark);
  border: 0.0625rem solid var(--segunda-cor-dark);
}

body.dark #textoCriptografado button {
  transition: background 0.2s linear;
  background-color: var(--quarta-cor-dark);
  color: var(--segunda-cor-dark);
  border: 0.0625rem solid var(--segunda-cor-dark);
}

body.dark #texto2 {
  transition: background 0.2s linear;
  color: var(--terceira-cor-dark);
}

@media (max-width: 1000px) {
  body {
    overflow-y: scroll;
  }
  /* .cabecalho {
    padding: 3rem 1rem;
  } */
  .logoAlura {
    width: 15%;
  }

  .conteiner_apresentacao {
    width: 100%;
  }
  .mensagem {
    height: max-content;
    /* height: 8.32rem; */
    max-width: 62.5rem;
    width: 43rem;
  }
  .imagem {
    display: none;
  }

  .textoSaida {
    height: auto;
    width: 100%;
  }

  #textoCriptografado button {
    width: 100%;
  }
}
